/* Nav Styling */

.nav-item {
  padding-right: 10px;
}

.nav-item a {
  text-decoration: none;
}

.nav-item a:link {
  color: black 
}


.nav-item a:visited {
  color: black 
}

.nav-item a:hover {
  color: goldenrod
}

/*  About Section Styling   */

.profile-img {
  max-height: 100px;
}

.section-heading {
font-family: 'Saira', sans-serif;
font-weight: bolder;
}

.section-text {
  font-family: 'Saira', sans-serif;
  font-weight: bold;
}